#cloud-config
preserve_sources_list: true
apt_mirror: http://archive.ubuntu.com/ubuntu
apt:
  primary:
    - arches:
        - amd64
        - i386
        - default
      uri: "http://archive.ubuntu.com/ubuntu"
      search:
        - "http://archive.ubuntu.com/ubuntu"
  sources_list: |
    deb $PRIMARY $RELEASE main restricted
    deb-src $PRIMARY $RELEASE main restricted
    deb $PRIMARY $RELEASE-updates main restricted
    deb-src $PRIMARY $RELEASE-updates main restricted
    deb $PRIMARY $RELEASE universe
    deb-src $PRIMARY $RELEASE universe
    deb $PRIMARY $RELEASE-updates universe
    deb-src $PRIMARY $RELEASE-updates universe
    deb $PRIMARY $RELEASE-updates multiverse
    deb-src $PRIMARY $RELEASE-updates multiverse
    deb $PRIMARY $RELEASE multiverse
    deb-src $PRIMARY $RELEASE multiverse
    deb $SECURITY $RELEASE-security multiverse
  proxy: {{ http_proxy }}
  http_proxy: {{ http_proxy }}
  https_proxy: {{ http_proxy }}