global:
  scrape_interval:     5s
  evaluation_interval: 10s

scrape_configs:
  - job_name: prometheus

    scrape_interval: 2s
    scrape_timeout: 1s
    honor_labels: true

    static_configs:
      - targets: ['prometheus:9090']

  - job_name: 'openstack_floating_network'
    scrape_interval: 2s
    scrape_timeout: 1s
    honor_labels: true
    openstack_sd_configs: &openstack_sd_config
      - role: instance
        identity_endpoint: "{{ openstack.clouds[0].auth.auth_url }}"
        username: "{{ openstack.clouds[0].auth.username }}"
        project_name: "{{ openstack.clouds[0].auth.project_name }}"
        password: "{{ openstack.clouds[0].auth.password }}"
        domain_name: "{{ openstack.clouds[0].auth.user_domain_name }}"
        region: "{{ openstack.clouds[0].region_name }}"
        port: {{ exporter_port }}
        # TODO (msenin): add certificates support
        tls_config:
          insecure_skip_verify: True
    relabel_configs:
      - source_labels: [__meta_openstack_instance_name]
        target_label: instance_name
      - source_labels: [__meta_openstack_instance_id]
        target_label: instance_id
      - source_labels: [__meta_openstack_public_ip]
        action: drop
        regex: '(^$)'
      - source_labels: [__meta_openstack_public_ip]
        regex: '(.*)'
        target_label: __address__
        replacement: '${1}:{{ exporter_port }}'

  - job_name: 'openstack_internal_network'
    scrape_interval: 2s
    scrape_timeout: 1s
    honor_labels: true
    openstack_sd_configs: *openstack_sd_config
    relabel_configs:
      - source_labels: [__meta_openstack_instance_name]
        target_label: instance_name
      - source_labels: [__meta_openstack_instance_id]
        target_label: instance_id

  - job_name: alerta
    metrics_path: /api/management/metrics
    static_configs:
    - targets: ['alerta:8080']

alerting:
  alertmanagers:
  - scheme: http
    static_configs:
    - targets: ["alertmanager:9093"]

rule_files:
  - "rules.conf"
